[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyaudio = "*"
pocketsphinx = "*"
sleekxmpp = ">=1.3"
requests = ">=2.18"
stringcase = ">=1.2"
pycryptodome = ">=3.4"
configparser = "*"

[dev-packages]

[requires]
python_version = "3.6"
